# Created by https://www.gitignore.io

### Vagrant ###
.vagrant/


### Composer ###
composer.phar
vendor/

### Ansible Roles ###
provisioning/roles/geerlingguy.apache
provisioning/roles/geerlingguy.mysql
provisioning/roles/geerlingguy.repo-epel
provisioning/roles/iambryancs*

html/admin/db/*

